{
  "tg":
    {
      "url": "api.telegram.org",
      "tocken": "xxxxxxxxxxxxxxxXXXXXXXXxxxxxxXXXxxxxXXXXxxx"
    },
  "slack":
    {
      "url": "hooks.slack.com",
      "tocken": "xxxXXXXxxxxxXXXXxxxXXxxxxXXxxxXXxxXXxxxXXxxxXXX"
    }
}
